/*Style for the first level menu bar*/

.shadow{
 -webkit-box-shadow: 0 4px 6px -6px #222;
 -moz-box-shadow: 0 4px 6px -6px #222;
 box-shadow: 0 4px 6px -6px #222;	
}

ul#menu{
  position:fixed;
  top:0;
  width:100%;
  height:3em;
  margin:10px;
  padding:0 10px;
  background:transparent;
  color:#fff;
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
}

ul#menu > li{
  float:left;
  list-style-type:none;
  position:relative;
}

label{
  height:3.3em;
  margin-left:15px;
  margin-right:15px;
  width:88.3%;
  position:relative;
  display:block;
  padding:0 0px 0 10px;
  line-height:3em;
  transition:background 0.5s;
  border-radius: 4px;
}

label:after{
  content:"";
  position:relative;
  display:block;
  top:50%;
  right:10px;
  width:0;
  height:0;
  transition:border-bottom .1s, border-top .1s .1s;
}

label:hover,
input:checked ~ label{background:rgba(255,255,255,.2);}

input:checked ~ label:after{
  border-top:0 solid rgba(255,255,255,.5);
  border-bottom:4px solid rgba(255,255,255,.5);
  transition:border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input{display:none;}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
  max-height:300px;
  transition:max-height 0.8s ease-in;
}

/*style for the second level menu*/
ul.submenu{
  margin-left:10px;
  margin-right:10px;
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
  transition:max-height 0.8s ease-out;
  position:relative;
  min-width:100%;
  z-index:1;
  transition:border-bottom .1s, border-top .1s .1s;
  line-height:0.2em;
}

ul.submenu li a{
  display:block;
  padding:10px;
  color:#fff;
  text-decoration:none;
  transition:background .3s;
  white-space:nowrap;
}

ul.submenu li a:hover{
  background:rgba(1,1,1,1);
}

<!--arrow-->

.arrow-down {
  width: 260px;
  height: 50px;
  position: relative;
}

.arrow-down.active {
 width: 260px;
  height: 50px;
}

.arrow-down:before, .arrow-down:after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: white;
  position: absolute;
  top: 20px;
  transition: transform .8s;
}

.arrow-down:before {
  left: 214px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: rotate(45deg);
}

.arrow-down:after {
  left: 220px;
  transform: rotate(-45deg);
}

.arrow-down.active:before {
  transform: rotate(-45deg);
}

.arrow-down.active:after {
  transform: rotate(45deg);
}

/*checbox*/
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto; 
  height:15px;
  font-weight:normal;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  border-radius: 3px;
  position: absolute;
  top: 10;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #49cfed;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #49cfed;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*fim do checkbox*/